# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
*~
*.swp

# IDE
.idea/
.vite-ssg-dist
.vite-ssg-temp
.trae
.kiro
.claude
# Node.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.pnpm-store/
*.backup
*.crx
*.local
*.log
*.pem
*.xpi
*.zip
dist
dist-ssr
extension/
extension-firefox/
extension-safari/
node_modules
*-web-ext-profile
extension-safari-macos/
release/
# src/old-extension/
.playwright-mcp/
